@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Hanken+Grotesk:wght@300;400&family=Kanit:ital,wght@1,100&family=Merriweather:ital@1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');

:root {
    /* primary color */
    --Lightred: hsl(0, 100%, 67%);
    --Lightredbackground:hsla(0, 90%, 85%, 0.152);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Orangeyyellowbackground: hsla(39, 91%, 78%, 0.176);
    --Greenteal: hsl(166, 100%, 37%);
    --Greentealbackground: hsla(166, 86%, 78%, 0.183);
    --Cobaltblue: hsl(234, 85%, 45%);
    --Cobaltbluebackground: hsla(234, 91%, 79%, 0.129);

    /* Background Gradients */
    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);

    /* Circle Gradients */
    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);

    /* Paragraph size */
    --Fontsize: 18px;
    --fontfamily: 'Hanken Grotesk', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    font-family: var(--fontfamily);
    background-color: var(--White);
    display: flex;
   
}
.card{
    background-color:var(--White);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    box-shadow: 15px 16px 16px var(--Paleblue);
}
.card-result{
    width: 380px;
    background: linear-gradient(var(--Lightslateblue) , var(--Lightroyalblue));
    color: var(--White);
}

.result-header{
    text-align: center;
    padding: 30px 10px;
    font-size: 21px;
    font-weight: 700;
    color: var(--Lightlavender);
}
.result-body{
    text-align: center;
}
.circle{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(var(--Violetblue) , var(--Persianblue));
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.circle h2{
    font-size: 3.3rem;
    font-weight: 800;  
}
.circle div{
    text-align: center;
    /* color: var(--Lightlavender); */
    color: hsla(0, 0%, 75%, 0.832);
    font-weight: 700;
}
.complement{
    font-size: 1.7rem;
    padding: 30px 0 10px 0;
}
.card-result p{
    font-size: 18px;
    padding: .5rem 4rem 3rem 4rem;
    color: var(--Lightlavender);
}
.summary-header{
    padding: 28px 40px;
    font-size: 22px;
    font-weight: 700;
    color: var(--Darkgrayblue);
}
.card-summary{
    width: calc(100% - 380px);
    background-color: var(--White);
}
.summary-body{
    padding: 0px 40px;
}
.opts-content{
    display: inline-flex;
    gap: 10px;
    font-weight: 500;
}
.summary-opts{
    display: flex;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    justify-content: space-between;
    font-size: 18px;
}
.summary-opts:nth-child(1){
    background-color: var(--Lightredbackground);
}
.summary-opts:nth-child(2){
    background-color: var(--Orangeyyellowbackground);
}
.summary-opts:nth-child(3){
    background-color: var(--Greentealbackground);
}
.summary-opts:nth-child(4){
    background-color: var(--Cobaltbluebackground);
}
.summary-opts:nth-child(1) .opts-content{
    color: var(--Lightred);
}
.summary-opts:nth-child(2) .opts-content{
    color: var(--Orangeyyellow);
}
.summary-opts:nth-child(3) .opts-content{
    color: var(--Greenteal);
}
.summary-opts:nth-child(4) .opts-content{
    color: var(--Cobaltblue);
}
.scored-category{
    font-weight: 800;
    color: var(--Darkgrayblue);
}
.total-score{
    font-weight: 800;
    color: hsla(228, 4%, 26%, 0.458);
}
.btn{
    width: 100%;
    border: none;
    background-color: var(--Darkgrayblue);
    color: var(--Paleblue);
    padding: 17px;
    font-size: 17px;
    border-radius: 30px;
    margin-top: 1.7rem;
}
.btn:hover{
    cursor: pointer;
    background: linear-gradient(var(--Lightslateblue) , var(--Lightroyalblue));
}


@media screen and (min-width:375px) {
    .main{
        align-items: start;
    }
    .card{
        width:100%;
        border-radius: 0px;
    }
    .card-result{
        margin: 0;
        width: 100%;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }
    .card-summary{
        
        width: 100%;
    }
    
}

@media screen and (min-width:1440px) {
    .main{
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 50%;
        border-radius: 25px;
    }
    .card-result{
        width: 380px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
    }
    .card-summary{
        width: calc(100% - 380px);
    }
    .circle{
        width: 185px;
        height: 185px;
    }
}


